@font-face {
  font-family: "OpenSans";
  src: url("../../Assets/font/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../../Assets/font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../../Assets/font/OpenSans-ExtraBold.ttf");
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 7px 0px;
  grid-template-areas: "." "." ".";
}
